/shared/*

/typo3conf/deprecation_*
/typo3conf/ENABLE_INSTALL_TOOL
/typo3conf/PackageStates.php
/typo3conf/realurl_autoconf.php
# /typo3conf/AdditionalConfiguration.php
/typo3conf/ext/*
!/typo3conf/ext/site/
!/typo3conf/ext/my_custom_extension/

/vendor/

/web/index.php
/web/typo3
/web/sitemap.xml
/web/maintenance.enable

/typo3cms

.DS_Store
/.idea
/.externalToolBuilders
/web.config
/.buildpath
/.project
/.settings
